html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FF7315;
    display: grid;
    overflow: hidden;
    grid-template-columns: 4% 34% 1% 36% 19% 4%;
    grid-template-rows: 5% 8% 74% 8% 5%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

/* SnackBar Toast */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #000;
    color: #FFF;
    font-size: 18px;
    outline: none;
    text-overflow: ellipsis;
    text-align: center;
    border-radius: 12px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

/* SnackBar Toast */
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

/* SnackBar Toast */

.div_1 {
    width: 100%;
    height: 100%;
    background-color: #000000;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.div_2 {
    width: 85%;
    height: 100%;
    border-radius: 36px;
    background-color: #FFF;
    grid-row-start: 2;
    grid-row-end: 5;
    overflow: hidden;
    grid-column-start: 2;
    grid-column-end: 3;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.div_3 {
    width: 85%;
    height: 100%;
    border-radius: 36px;
    background-color: #FFF;
    grid-row-start: 2;
    grid-row-end: 5;
    overflow: hidden;
    grid-column-start: 4;
    grid-column-end: 5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.div_4 {
    width: 100%;
    height: 100%;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.print_button {
    background-color: #000;
    color: #FFF;
    font-size: larger;
    width: 86%;
    padding-top: 21px;
    padding-bottom: 21px;
    border-radius: 21px;
    border: none;
    margin-top: 4.1%;
    margin-bottom: 4.1%;
    text-align: center;
    display: block;
    box-sizing: border-box;
}

#Card1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: contain;
}

#Card1::before {
    content: none !important;
}

#Card2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: contain;
}

#Card2::before {
    content: none !important;
}